@using WebUI.Models.Helpers;

@{
    ViewBag.Title = "Welcome!";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style type="text/css">
    .dataTables_length {
        margin-bottom: 1%;
    }

    .btn-sm {
        font-size: 13px;
    }

    .mb-3 {
        margin-bottom: 2rem;
    }

    .card-header {
        background-color: black;
    }

    .card-header {
        padding: 0.2rem 1rem;
    }

    .button-style {
        height: fit-content;
        margin-top: 56px;
    }

    #btnSaveUser {
        background-color: black;
        color: white;
        margin-bottom: 3%;
        margin-top: 5%;
        margin-left: 13%;
    }

    #upload_widget {
        margin-top: 8%;
        width: 80%;
    }
</style>
<style type="text/css">
    .btn {
        background-color: black;
        color: white;
        margin-top: 3%;
    }
</style>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="tab">
    <button class="tablinks" onclick="displayContent(event, 'Wallet')">Wallet</button>
    <button class="tablinks" onclick="displayContent(event, 'Users')">Users</button>
    <button class="tablinks" onclick="displayContent(event, 'Audit')">Audit</button>
    <button class="tablinks" onclick="displayContent(event, 'Categories')">Categories</button>
    <button class="tablinks" onclick="displayContent(event, 'Collections')">Collections</button>
    <button class="tablinks" onclick="displayContent(event, 'Auctions')">Auctions</button>
    <button class="tablinks" onclick="displayContent(event, 'CreateManagers')">Create Managers</button>
</div>
<div class="padding-Dashboard">
    <div class="tabcontent display-Dashboard mb-3" id="Wallet">
        <h2>Welcome!</h2><br>

        <div class="flex-profile margin-bottom-Dashboard-px">
            <div>
                <h3>Change fee</h3>
                <div class="flex-profile">
                    @Html.CtrlInput("changeFeetxt", "text", "New fee ($):")
                    <button id="changeFee"  class="btn btn-primary btn-flat m-b-30 m-t-30 button-style" style="margin-top: 57px; margin-left: -60px;">Change</button>
                </div>
            </div>
            <div>
                <h3>Current fee</h3>

                <div class="card border-success mb-3 color-backgroun-black width-percentage">
                    <h4 class="color-White align-center margin-top-Dashboard">$<span id="currentFee"></span></h4>
                </div>
                <h3>Earnings</h3>
                <div class="card border-success mb-3 color-backgroun-black width-percentage">
                    <h4 class="color-White align-center margin-top-Dashboard" id="earnings">$</h4>
                </div>
            </div>

            <div>
              

            </div>
        </div>

        <div>
            <h3 style="padding-left:1%">Transactions</h3>
            <br />
            <h4 style="padding-left: 1%; color: green;">Inflows</h4>
            @Html.CtrlTable("AdminDashboard", "tblTransactionsReceiver", "", "Id,Wallet Sender,Amount,Description,Transaction Date", "Id,WalletSender,Amount,Description,FormattedDate", "")
        </div>
        <div>

        </div>

    </div>

    <div class="tabcontent" id="Users">
        <div>
            <h3>Number of users</h3>
            <div class="card border-success mb-3 color-backgroun-black width-percentage">
                <h4 class="color-White align-center  margin-top-Dashboard" id="users"></h4>
            </div>
        </div>
        <div style="display:flex; justify-content:space-between">
            <h3>Users</h3>
            <div style="display: flex; width: 40%; justify-content: flex-end; margin-bottom: 1%;">
                <button type="button" class="btn btn-primary btn-sm" id="status-button">Change Status</button>
            </div>
        </div>
        @Html.CtrlTable("AdminDashboard", "tblUsers", "", "Id,Name,LastName,Email,Nickname,Status", "Id,Name,LastName,Email,NickName,Status", "")
    </div>
    <div class="tabcontent" id="Audit">
        <div>
            <h3>Audit</h3>
            @Html.CtrlTable("AdminDashboard", "tblAudit", "", "User,Description,Date", "User,Type,FormattedDate", "")
        </div>

    </div>
    <div class="tabcontent" id="Categories">
        <div>
            <h3>Add a new category</h3>
            <div style="display: flex; width: 100%; margin-bottom: 1%;">
                <div>
                    <label class="form-label mt-4">Name</label>
                    <input class="form-control" id="category-name" placeholder="Name of the category">
                </div>
                <div>
                    <button id="create-category" class="btn btn-primary btn-sm form-control" style="margin-top: 60px">Add</button>
                </div>
            </div>
        </div>
        <div>
            <h3>Categories</h3>
            @Html.CtrlTable("AdminDashboard", "tblCategories", "", "Name", "Name", "")
        </div>

    </div>
    <div class="tabcontent" id="Collections">
        <div>
            <h3>Collections</h3>
            @Html.CtrlTable("AdminDashboard", "tblCollection", "", "User,Name,Description,Status", "User,Name,Description,SaleStatus", "")
        </div>
    </div>
    <div id="Auctions" class="tabcontent">
        <div>
            <div style="display:flex; justify-content:space-between">
                <h3>NFT Auctions</h3>
                <div style="display: flex; width: 40%; justify-content: flex-end; margin-bottom: 1%;">
                    <button type="button" class="btn btn-primary btn-sm" id="auction-NFT-cancel-button">Cancel Auction</button>
                </div>
            </div>
            @Html.CtrlTable("AdminDashboard", "tblAuctionNFT", "", "Name of NFT, Start Date,End Date, Base Price ($)", "NFTName,FormattedCreationDate,FormattedClosingDate,AuctionPrice", "")
        </div>
        <div>
            <div style="display:flex; justify-content:space-between">
                <h3>Collection Auctions</h3>
                <div style="display: flex; width: 40%; justify-content: flex-end; margin-bottom: 1%;">
                    <button type="button" class="btn btn-primary btn-sm" id="auction-collection-cancel-button">Cancel Auction</button>
                </div>
            </div>
            @Html.CtrlTable("AdminDashboard", "tblAuctionsCollection", "", "Name of Collection, Start Date,End Date, Base Price ($)", "CollectionName,FormattedCreationDate,FormattedClosingDate,AuctionPrice", "")

        </div>
    </div>
    <div class="tabcontent" id="CreateManagers">
        <form id="frmCustomer" style="margin:4% 8% 3% 8%;">
            <h1 style="text-align:center;margin-bottom:2%;">Create a new manager account!</h1>
            <div style="display:flex; flex-wrap:wrap;">
                <div style="flex:1;padding-left: 5%;">
                    @Html.CtrlInput("txtId", "text", "Identification", columnDataName: "Id")
                    @Html.CtrlInput("txtName", "text", "Name", columnDataName: "Name")
                    @Html.CtrlInput("txtLastName", "text", "Last Name", columnDataName: "LastName")
                </div>
                <div style="flex:1;padding-left: 5%;">
                    @Html.CtrlInput("txtNickName", "text", "Nickname", columnDataName: "NickName")
                    @Html.CtrlInput("txtEmail", "text", "Email", columnDataName: "Email")
                    @Html.CtrlInput("txtPhone", "text", "Phone", columnDataName: "Phone")
                </div>
                <div style="flex:1; padding-left: 5%; ">
                    <button id="upload_widget" type="button" class="btn btn-primary form-control">Upload Profile Image</button>
                    @Html.CtrlDatePicker("txtDBO", "date", "DOB", columnDataName: "DOB")
                    @Html.CtrlInput("txtPassword", "password", "Password", columnDataName: "Password")
                    <input type="checkbox" id="checkPass"> <label style="font-size: 0.8rem;">Show password</label>
                    <br />
                    @Html.CtrlButton("UserForm", "btnSaveUser", "Save Information", buttonType: "Success", onClickFunction: "SaveInformation")
                </div>
            </div>
        </form>
    </div>

</div>

<script src="~/Scripts/View/AdminDashboard.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>


