@using WebUI.Models.Helpers;


@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style type="text/css">
    .btn {
        background-color: black;
        color: white;
        margin-top: 3%;        
    }
</style>


<div class="d-flex justify-content-center bd-highlight mb-3">



    <div class="col-lg-offset-6 p-4 ">
        <div class="login-content>
            <div class="PassReset-form">


                <h4>Reset Password</h4>
                <form>
                    <div class="form-group">
                        @Html.CtrlInput("input-id", "text", "", "Enter your id", "", columnDataName: "email")
                        @Html.CtrlInput("input-otp", "text", "", "OTP", "", columnDataName: "otp")
                        <span style="margin-bottom:3%; color:black;">The OTP is going to expire in: </span><span id="Count" sstyle="color:black;"></span>
                        @Html.CtrlInput("input-password", "password", "", "New Password", "", columnDataName: "input-password")
                        @Html.CtrlInput("input-password-confirm", "password", "", "Confirm Password", "", columnDataName: "input-password-confirm")
                        <div class="row-btn">
                            @Html.CtrlButton("Btn1", "btnRequestOTP", "Request OTP", buttonType: "Sucess", onClickFunction: "requestOTP")
                        </div>
                        <div class="row-btn">
                            @Html.CtrlButton("Btn1", "btnConfirmOTP", "Confirm", buttonType: "Sucess", onClickFunction: "confirmOTP")                         
                        </div>
                        <div class="row-btn">
                            <div> <input type="checkbox" id="checkPass"> <label style="font-size: 0.8rem;">Show password</label> </div>
                             @Html.CtrlButton("Btn1", "btnResetPassword", "Reset Password", buttonType: "Sucess", onClickFunction: "resetPassword")
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>



</div>
<script src="~/Scripts/View/ControlActions.js"></script>
<script src="~/Scripts/View/PasswordReset.js"></script>

